<div class="flex-vertical">

    <h1>Upload a Virtuoso backup file to begin.</h1>
    <input type="file" id="fileElem" (change)="handleFile($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    <div class="file-row">
        <button class="upload" (click)="selectFile()">Select File...</button>
        <span class="selected-file">{{fileName}}</span>  
    </div>
</div>
<div class="action-row">
    <span class="action-spacer"></span>
    <!--<a routerLink="/build" class="action-right" *ngIf="fileLoaded">Build Sequence &rarr;</a>-->
    <button routerLink="/build" class="action-right" [disabled]="!fileLoaded">Build Sequence &rarr;</button>
</div>