<div class="header">
    <div class="container">
        <img src="assets/montre-logo-regular.svg">
        <span class="spacer"></span>
        <!--<nav *ngIf="show">-->
        <nav>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Upload</a>
            <a routerLink="/build" routerLinkActive="active">Build</a>
            <a routerLink="/edit" routerLinkActive="active">Edit</a>
            <a routerLink="/print" routerLinkActive="active">Print</a>
        </nav>

    </div>
</div>