<div class="header">
    <div class="container">
        <img class="logo" src="assets/montre-logo-regular.svg">
        <span class="spacer"></span>
        <nav>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Upload</a>
            <a routerLink="/build" routerLinkActive="active" [class.disabled-route]="!show">Build</a>
            <a routerLink="/edit" routerLinkActive="active" [class.disabled-route]="!show">Edit</a>
            <a routerLink="/print" routerLinkActive="active" [class.disabled-route]="!show">Print</a>
            <a routerLink="/check" routerLinkActive="active" [class.disabled-route]="!show">Check</a>
            <a routerLink="/options" routerLinkActive="active"><img class="gear" src="assets/gear.svg"></a>
        </nav>

    </div>
</div>