.header {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #323232;
    
    .container {
        width: 960px;
        margin: 0 auto;
        display: flex;
    }

    img.logo {
        height: 36px;
        margin: 12px 0;
        flex-grow: 0;
    }

    .spacer {
        flex-grow: 1;
    }

    nav {
        flex-grow: 0;
        display: flex;

        a {
            padding: 0 30px;
           
            color: white;
            line-height: 60px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
                background-color: rgba(255,255,255,0.1);    
            }

            &.disabled-route {
                color: rgba(255,255,255,0.3);
                cursor: default;    
            }
        }

        //a.active {
        //    background-color: rgba(255,255,255,0.1);
        //}

        //a.disabled-route {
        //    opacity: 30%;
        //    cursor: default;
        //}

        img.gear { 
            padding: 16px 0;
        }

    }
}