
@use "sass:color";

$general-base: rgb(150, 150, 150);
$input-bg-color: color.scale($general-base, $lightness: 85%);
$action-button-base: rgb(12, 130, 232);


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
}

.modal-container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.modal {
    
    width: 80%;
    margin: 15% auto;
    max-width: 400px;
    background-color:#fefefe;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    opacity: 100%;

    p {
        margin-bottom: 30px;
    }

    .button-row {
        text-align: right;
    }
    
    button {
        margin-top: 18px;
        margin-left: 20px;
        padding: 0 40px;
        
        font-size: 16px;
        line-height: 40px;

        &.action-left {
            
            background-color: $input-bg-color;

            &:hover {
                background-color: color.scale($general-base, $lightness: 75%);
            }
    
            &:active {
                background-color: color.scale($general-base, $lightness: 65%);
            }
        }

        &.action-right {
            
            background-color: $action-button-base;
            color: #fff;
            
            &:hover {
                background-color: color.scale($action-button-base, $lightness: -10%);
            }
    
            &:active {
                background-color: color.scale($action-button-base, $lightness: -20%);
            }
        }
        
    }

    
 padding: 30px;
  border: 1px solid #888;
}