@import "../../variables";

.sequence-info {

    margin-bottom: 50px;
    
   .row {
       display: flex;
       flex-direction: row;
       margin-bottom: 30px;

       .item {

            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            } 

            &.catalog {
                width: 100px;
            }

            &.title {
                flex-grow: 1;
            }

            &.composer {
                width: 185px;
            }

            &.notes {
                flex-grow: 1;
            }

            .label {
                font-size: 12px;
            }

            .text {
                min-height: 19px;
                padding: 10px 0 4px;
                border-bottom: 1px solid $divider-color;
            }
       }
   }
}

.sequence-table {

    font-size: 14px; 

    .row {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        border-bottom: 1px solid $divider-color;
        line-height: 35px;

        &.header {
            font-weight: 700;
        }
    }

    .cell {

        padding: 0 10px;

        &.step {
            width: 30px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        &.piston,
        &.base {
            width: 200px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        &.measure {
            width: 100px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 10px;
            padding: 8.5px 0;
            line-height: 16px;

        }

        &.notes {
            flex-grow: 1;
            padding: 8.5px 0;
            line-height: 16px;
        }

        .piston-none {
            padding: 5px 8px;
        }

        .piston-inner {
            width: fit-content;
            display: flex;
            flex-grow: 0;
            padding: 5px 8px;
            
            font-size: 12px;
            font-weight: 400;
            line-height: 25px;
            text-transform: uppercase;

            .piston-level {
                width: 23px;
                height: 23px;
                margin-right: 6px;
                border: 1px solid black;
                padding: 0px;
                line-height: 23px;
                text-align: center;
            }

            .piston-division {
                margin-right: 6px;
            }

            .piston-number {
                width: 23px;
                height: 23px;
                border: 1px solid black;
                border-radius: 12px;
                line-height: 23px;
                text-align: center;
            }

            &.general {
                background-color: $general;
            }
        
            &.antiphonal {
                background-color: $antiphonal;
            }
        
            &.solo {
                background-color: $solo;
            }
        
            &.swell {
                background-color: $swell;
            }
        
            &.great {
                background-color: $great;
            }
        
            &.choir {
                background-color: $choir;
            }
        
            &.positiv {
                background-color: $positiv;
            }
        
            &.pedal {
                background-color: $pedal;
            }
        }
    }
}

.next-bar {
    margin: -80px 0 150px;
    padding: 20px;
    border: 1px solid $general;
    
    line-height: 40px;

    .next-buttons {
        
        display: flex;

        button {
            margin: 0 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}


