$general-base: rgb(150, 150, 150);
$antiphonal-base: rgb(38, 50, 237);
$solo-base: rgb(193, 47, 138);
$swell-base: rgb(219, 81, 32);
$great-base: rgb(3, 195, 235);
$choir-base: rgb(228, 220, 0);
$positiv-base: rgb(152, 193, 42);
$pedal-base:  rgb(114, 151, 166);